<div class="post">
  <div class="header">
    <h1>Title</h1>

    <button routerLink="/" class="btn btn-link">To home page</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>Date</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, commodi dolorum explicabo fugiat ipsum laborum nihil, nobis porro quaerat quasi qui, quis quo similique suscipit tenetur totam ut. Distinctio, incidunt!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad doloribus eveniet excepturi iste iusto libero natus odit placeat quod tempora!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, animi asperiores dignissimos dolor dolorem dolores eligendi esse fuga fugiat neque nisi nobis nulla officiis perspiciatis quisquam rem sunt voluptate voluptates?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto deleniti enim omnis reprehenderit veritatis. Iusto!</p>
  </div>
</div>
